<h1>Hello, Edinburgh!</h1>

<div>
  <div class="form-group">
    <input #search class="form-control" type="text" placeholder="Search for a festival event" />
  </div>
  <button class="btn btn-primary btn-sm" (click)="searchEvents(search.value)">Search 2019 Listings</button>
</div>

<br />

<ng-template #noResults>
  <h5 class="text-muted">No Results</h5>
</ng-template>

<table class="table" *ngIf="results.length > 0; else noResults">
  <tbody>
    <tr *ngFor="let result of results" class="d-flex">
      <td>
        {{result.festival}}
        <div>
          <i class="fas fa-globe-europe" *ngIf="result.has_booking_over_web"></i>&nbsp;
          <i class="far fa-credit-card" *ngIf="result.has_booking_over_card"></i>&nbsp;
          <i class="fas fa-phone" *ngIf="result.has_booking_over_phone"></i>&nbsp;
        </div>
      </td>
      <th scope="row" class="col-2">
        {{result.title}}
      </th>
      <td class="col-2" [innerHTML]="result.description"></td>
      <td class="col-2">
        <h5>Performances</h5>
        <div *ngFor="let performance of result.performances">
          <i class="far fa-calendar-alt"></i> {{performance.start | date:'MMM d H:mm'}} - {{performance.end | date:'H:mm'}} [{{performance.price | currency:'GBP'}}]
        </div>
      </td>
      <td class="col-2 text-center">{{result.age_category}}</td>
      <td class="col-2 text-right"><iframe [src]="getMapLocation(result.latitude, result.longitude) | safe" style="border: none;width: 300px; height: 300px;"></iframe></td>
    </tr>
  </tbody>
</table>
